.leitor {
    left: 200px;
    display: block;
    margin: 20px 50%;
    height: 12vw;
    width: 12%;
    border: 1px solid green;
    background-color: rgba(200, 236, 175, 0.692);
    border-radius: 5%;
}

.imgbarcode {
    width: 100px;
}