* {
    margin: 0;
    padding: 0;
}

nav {
    display: block;
    top: 0.5em;
    background-color: #b0e993;
    border: solid 1px #79c255;
    height: 80px;
}

.barramenu {
    display: block;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

nav ul {
    display: block;
}

nav ul li {
    margin: 0 30px;
}

.destaque:hover {
    background-color: #79C255;
}

.nav-link:hover {
    position: block;
    align-items: center;
}


/* #wrapper {
    display: fixed;
    background: #FFF;
}

#header {
    position: relative;
    padding: 2em 0em;
}

#logo {
    position: relative;
    top: 20px;
    left: 0;
}

#logo h1 {
    color: #79C255;
}

#logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #79C255;
}

#menu {
    position: fixed;
    top: 1em;
    font-weight: 600;
}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a,
#menu li span {
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #2B3F48;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
    color: #b1da9d;
}

#menu .current_page_item a {
    border: 2px solid #b1da9d;
    background: #79C255;
    border-radius: 6px;
    color: #FFF;
}

#menu .Login a {
    border: 2px solid #b1da9d;
    background: #79C255;
    border-radius: 6px;
    color: #FFF;
}

.dropdown {} */