* {
    margin: 0;
    padding: 0;
}

nav {
    display: block;
    top: 0.5em;
    height: 80px;
}

.barramenu {
    display: block;
    align-items: center;
    width: 100vw;
    justify-content: center;
}

nav ul {
    display: block;
}

nav ul li {
    margin: 0 30px;
}

.efeito:hover {
    background-color: rgb(137, 189, 111);
    position: block;
    align-items: center;
}